<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Achilles</title>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container" style="text-align: center">
      <h1>Let's Connect the World with Achilles !!!</h1>
      <img src="images/poster.png">
    </div>
  </body>
</html>