<!DOCTYPE html>
<html>
  <head>
    <title>Login - Achilles</title>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div style="text-align: center; width: 26%; margin-left: 37%">
      <div>
        <img src="/assets/images/logo.png" width="90" height="90">
      </div>
      <div>
        <span class="brandText" style="font-size: 30px">Achilles</span>
      </div>
      <div class="roboto" style="margin-top: 10px; margin-bottom: 50px; font-size: 20px; letter-spacing: 2px">
        Welcome back
      </div>
      <%- include('./partials/auth-flash.ejs') %>
      <form method="POST" action="/user/login">
        <div class="form-group">
          <input 
            type="email" 
            class="form-control" 
            placeholder="Email"
            name="email"
            required
          >
        </div>
        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            placeholder="Password"
            name="password"
            required
          >
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 50%; height: 1.1cm">
          LOG IN
        </button>
      </form>
    </div>
  </body>
</html>