.container-compatible {
  margin-left: 16%;
  width: 69%;
}

.requestStatusButton {
  font-size: 13px; 
  margin-top: 5px; 
  height: 1cm;
}

.friendsChat {
  margin-bottom: 10px; 
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.friendsChat:hover {
  background-color: rgb(211, 239, 240);
}