<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/81416c8099.js" crossorigin="anonymous"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/primary-button.css">
<link rel="stylesheet" href="/assets/css/font-families.css">
<link rel="stylesheet" href="/assets/css/navbar.css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Scripts -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#friendsTab').click(function() {
      $('#friendsNotiBadge').hide();
    })
  })
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('received deletion friend request', function(sender) {
    $(`#friendRequestFrom${sender}`).remove();
  })
  socket.on('received friend request', function(sender, senderAvatarURL) {
    // alert(`${sender} sent you a friend request`)
    const numOfNoti = Number($('#friendsNotiBadge').text())
    $('#friendsNotiBadge').text(numOfNoti + 1)
    $('#friendsRequestNotiMenu').prepend(
      `
      <div id="friendRequestFrom${sender}" class="container-fluid">
        <div class="row align-items-center">
          <div class="col text-left">
            <img src="${senderAvatarURL}" style="border-radius: 50%" width="40" height="40"> 
            <span style="font-size: 14px">
              <strong class="brandColor">${sender}</strong>
            </span>
          </div>
          <div class="col text-right" style=" vertical-align: middle">
            <button class="btn btn-success" style="font-size: 12px; height: 0.75cm;">Accept</button>
            <button class="btn btn-outline-danger" style="font-size: 12px; height: 0.75cm;">Ignore</button>
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </div>
      `
    )

    const time = Date.now();
    $('#toastsNoti').append(

      `<div id="${time}" class="toast ml-auto" role="alert" data-delay="3000" data-autohide="true">
          <div class="toast-header">
              <strong class="mr-auto text-primary">Friend Request</strong>
              <small class="text-muted">just now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="toast-body">
              <img src="${senderAvatarURL}" style="border-radius: 50%" width="30" height="30"> 
              <span style="font-size: 14px">
                <strong class="brandColor">${sender}</strong>
                sent you a friend request
              </span>
          </div>
      </div>
        `
    )

    $(`#${time}`).toast('show')
  })
</script>