<% if (typeof success_flash != 'undefined' && success_flash != '') { %>
  <div class="alert alert-success alert-dismissible fade show text-left" role="alert" style="margin-left: 3%; margin-right: 1.5%">
    <%= success_flash %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>