<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <%- include('./partials/success-flash.ejs') %>
    </div>
  </body>
  <script>
  </script>
</html>