<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    <script type="text/javascript" src="/assets/js/dashboard.js"></script>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <%- include('./partials/success-flash.ejs') %>
    </div>

    <div class="container-compatible">
      <div class="card" style="width: 60%">
        <h6 class="card-header">
          People you may know
        </h6>
        <div class="card-body" style="height: 300px">
          <div id="SuggestCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <%- include('./partials/dashboard-suggestion.ejs') %>
            </div>
            <a class="carousel-control-prev" href="#SuggestCarousel" role="button" data-slide="prev" style="width: 5px;">
                <i class="fas fa-chevron-circle-left brandColor"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#SuggestCarousel" role="button" data-slide="next" style="width: 5px">
                <i class="fas fa-chevron-circle-right brandColor"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    

    

  </body>
  <script>
  </script>
</html>